{%extends 'base.html' %}
    {% block body_block %}
        {% if isError %}
            <div class="error">
                <h4>{{ error }}</h4>
            </div>
        {% endif %}
        <div class="login_form_container">
            <form action="{% url 'quiz:user_login' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <button class="submit_button" type="submit"><span>Submit</span></button>
            </form>
        </div>
    {% endblock %}